.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 0; 
    width: 100%;
    height: 100%;
  
     @media (max-width: 768px) {
      padding-top: 75%; 
       height: 100%;   
      }  
 }  
  
   