


  .skills-charts {
	position: absolute;
	width: 80%;
	right: -15%;
	left: auto;
	height: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: 2
  }
  
  @media (max-width: 960px) {
	
	.skills-charts {
	  position: relative;
	  left: 0;
	  width: 80%;
	  top: 0;
	  -webkit-transform: translateY(0%);
	  -ms-transform: translateY(0%);
	  transform: translateY(0%);
	  clear: both;
	  margin: auto;
	  overflow: hidden
	}
}
  