@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

.text-shpere {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    /* color: #00ffffff; */
    color: white;
    text-transform: uppercase;
}

.tagcloud--item:hover {
    color: #ff6347;
}
.myCanvas {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
    width: 800px; /* Adjust the width as needed */
    height: 600px; /* Adjust the height as needed */
    
  }
  
  @media (max-width: 768px) {
    .myCanvas {
      position: relative;
      top: auto;
      right: 0;
      bottom: 0;
      transform: none;
      width: 80%; /* Reduce the width to a desired percentage */
      max-width: 300px; /* Limit the maximum width if needed */
      height: auto; /* Allow the height to adjust automatically */
      margin: 20px auto; /* Adjust the margin for centering */
    }
  }
  .slider {
    display: none; /* Hide the slider by default */
  
    /* Styles for larger screens */
    @media (min-width: 768px) {
      display: block; /* Show the slider on larger screens */
      /* Add your slider styles here */
    }
  }
  